.float-right .searchIn{
    border:1px solid #1970cf;
    height:28px;
    border-radius:15px;
    box-shadow:none !important;
    width:180px;
    padding-left:10px;
}
.float-right .searchIn:active{
    box-shadow:none !important;
    outline:none;
}
.float-right .searchIn:focus{
    box-shadow:none !important;
    outline:none;
}
.likeHeader{
    background:#f4f4f4
}
.hoverCursor .el-input__inner{
    display: inline-block;
}
.hoverCursor .el-input__inner:hover{
    cursor:pointer;
}
.tableTab .el-tabs__nav-wrap {
    background-color:#005fc6;
}
.tableTab .el-tabs__item.is-active {
    color:#005fc6;
}
.tableTab .el-tabs__nav {
    height:42px;
    margin-left:10px;
}
.tableTab .el-tabs__item {
    height:34px;
    line-height:28px;
    /*margin-top:8px;*/
    font-size:16px;
    color:#fff;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
.tableTab .el-tabs--border-card>.el-tabs__header .el-tabs__item{
    margin:8px -1px;
}
.tableTab .el-tabs--border-card > .el-tabs__content {
    padding:0;
}
.twoinput,.containerinput{
    display:inline-block;
    width:100%;
    height:116px
}
.containerinput{
    margin:23px 0 5px 0;
}
.twoinput .cecontent,.containerinput .cecontent{
    display:inline-block;
    width:100%;
    border:1px solid #ccc;
    cursor:pointer;
    height:87px;
    overflow:auto;
} 
.twoinput .el-form-item__error,.containerinput .el-form-item__error{
    top:88px;
}
.tableTop{
    display: inline-block;
    height:36px;
    border-bottom:3px solid #005fc6;
    padding:0 16px;
    font-size:14px;
    line-height:35px;
}
.threeinput{
    display:inline-block;
    width:100%;
    height:124px;
    margin:0 0 19px 0;
}

.threeinput .cecontent{
    display:inline-block;
    width:100%;
    border:1px solid #ccc;
    cursor:pointer;
    height:113px;
    overflow-y:auto;
}
.threeinput .el-form-item__content{
    line-height: 37px
}
.showImage{
    display: inline-block;
    margin:0 0 3px 0;
   /* border:1px solid red;*/
}
.showImage .avatar-uploader .el-upload {
    width: 209px;
    height: 112px;
    border: 1px dashed #C0CCDA;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden; 
    position:relative;
   /* left:-18px;*/
} 
.showImage  .avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
}
.showImage  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    line-height: 112px;
    text-align: center;
}
.showImage  img {
    width:209px;
    height:112px;
}
/* input[type=file] {
    display: none;
} */
.showImage .el-form-item__content{
    margin:0;
}
.threeinput .el-form-item__error{
    top:114px;
}
.leftTree{
    float: left;
    width:460px;
    height:100%;
}
.rightTable{
    border: 1px solid #cccccc;
    background:white;
    padding-left: 0px;
    height: 100%;
    margin-left: 465px;
    /*margin-right: 20px;*/
}
.adminHeader{
    height:46px;
    line-height: 46px;
    color:#444;
    display: block;
    padding: 0 0 0 18px;
    position: relative;
    border: 1px solid #d9d9d9;
    margin:0 0 5px 0;
    background:#fff
}
.el-form-item.timeZone .el-form-item__label:before{
    content: '*';
    color: #f56c6c;
    margin-right: 4px;
}
.ownSysd .el-select .el-input.is-disabled .el-input__inner{
   height:26px;
}
.el-table__header-wrapper thead .renderCenter div{
    text-align: left
}
@media  (min-width:1599px) {
    .leftTree {
        width:460px;
    }
    .rightTable{
       margin-left: 465px;  
    }
}
@media (max-width: 1599px) and (min-width:0px) {
    .leftTree {
        width:420px;
    }
    .rightTable{
        margin-left: 425px;  
    }
}